<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Ninja Gold</title>
</head>
<body>
    <div id="container">
        <h1>Your Gold:<span>{{session['total']}}</span></h1>
        <form action="/process_money" method="post">
            <h2>Farm</h2>
            <p>(earns 10-20 golds)</p>
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!"/>
        </form>

        <form action="/process_money" method="post">
            <h2>Cave</h2>
            <p>(earns 5-10 golds)</p>
            <input type="hidden" name="building" value="cave" />
            <input type="submit" value="Find Gold!"/>
        </form>

        <form action="/process_money" method="post">
            <h2>House</h2>
            <p>(earns 2-5 golds)</p>
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!"/>
        </form>

        <form action="/process_money" method="post">
            <h2>House</h2>
            <p>(earns/takes 0-50 golds)</p>
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!"/>
        </form>
        
        <h4>Activities:</h4>
        <div id="activities-box">
            {%for i in session['output']%}
            <span id="{{i.color}}">{{i.msg}}<br></span>
            {%endfor%}
        </div>
        <a href="/reset" class="button">Reset</a>
    </div>
    <script>
            var element = document.getElementById("activities-box");
            element.scrollTop = element.scrollHeight;
    </script>
</body>
</html>