form {
    width: 184px;
    height: 152px;
    outline: 1px black solid;
    display: inline-block;
    margin-left: 20px;
}

form h2, p{
    text-align: center;
}

form input:last-of-type{
   margin-left:50px;
}

#container{
    width: 850px;
    height: 600px;
    outline: 1px blue solid;
    padding: 10px;

}